@import '../css/vars.scss';
@import '../css/class.scss';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    
}
ul {
    list-style: none;
}
input {
    &:focus {
        outline: none;
    }
}
button {
    cursor: pointer;
}
.container {
    max-width: 1293px;
    margin: 0 auto;
    width: 100%;
}

.btn {
    display: flex;
    align-items: center;
    gap: 10px;
    &.rounded {
        padding: 21px 55px;

}
}